<ion-content>
  <ion-header collapse="condense">
  </ion-header>


  <div class="container">
    <ion-row>
      <ion-col size="12">
        <img src="assets/icon/logo.png" alt="Menu On-Line" class="logo">
        <p class="username">Nome do Usuário</p>
        <ion-icon name="cart-outline" color="warning"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6"><strong>Produto</strong></ion-col>
      <ion-col size="6"><strong>Quantidade</strong></ion-col>
    </ion-row>

    <ion-list>
      <ion-item >
        <ion-label></ion-label>
        <ion-button >-</ion-button>
        <ion-input type="number" ></ion-input>
        <ion-button >+</ion-button>
        <ion-button color="danger" >X</ion-button>
      </ion-item>
    </ion-list>

    <ion-row>

    </ion-row>
    <ion-row>
      <ion-col size="6"><strong>Produto</strong></ion-col>
      <ion-col size="6"><strong>Quantidade</strong></ion-col>
    </ion-row>

    <ion-list>
      <ion-item >
        <ion-label></ion-label>
        <ion-button >-</ion-button>
        <ion-input type="number" ></ion-input>
        <ion-button >+</ion-button>
        <ion-button color="danger" >X</ion-button>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="6"><strong>Produto</strong></ion-col>
      <ion-col size="6"><strong>Quantidade</strong></ion-col>
    </ion-row>

    <ion-list>
      <ion-item >
        <ion-label></ion-label>
        <ion-button >-</ion-button>
        <ion-input type="number" ></ion-input>
        <ion-button >+</ion-button>
        <ion-button color="danger" >X</ion-button>
      </ion-item>
    </ion-list>
    <ion-row>

      <ion-col size="12">
        <p class="subtotal">Subtotal: R$ </p>
        <p class="entrega">Entrega: R$ 5,00</p>
        <p class="total">Total: R$ </p>
        <ion-button expand="full" color="warning">Finalizar pedido</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>


