<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="../assets/icon/logo.png" alt="Logo" class="icon">
    </ion-toolbar>

    <ion-toolbar>
    <ion-title   class="titulo" >Entrar</ion-title>
    </ion-toolbar>

    <ion-toolbar>
    <p class="center-text"> Bem-vindo de volta, você fez falta.</p>
    </ion-toolbar>

    <ion-list>
           <ion-item lines="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input aria-label="Email" value="hi@ionic.io"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Senha</ion-label>
        <ion-input aria-label="Senha" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button class="botao">Entrar</ion-button>

    </ion-list>
    <ion-toolbar>
      <img src="../assets/icon/logo.png" alt="Logo" class="logo">
    </ion-toolbar>
    <ion-toolbar>
      <p class="center-text">Não tem uma conta?<a href="#">Inscrever-se</a></p>
      </ion-toolbar>
  </ion-header>
</ion-content>

