
<ion-content>
  <ion-header collapse="condense">
  </ion-header>

  <div class="header">
    <img src="/assets/icon/logo.png" alt="Menu On-line" >
    <div class="user-info">
      <ion-label>Nome do Usuário</ion-label>
      <ion-icon name="cart-outline" color="warning"></ion-icon>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/icon/image.png" alt="Hamburguer">
      </ion-thumbnail>
      <ion-label>
        <h2>Texto do Hamburguer</h2>
        <p>R$ 30,00</p>
        <div class="quantity-control">
          <ion-button size="small" >-</ion-button>
          <ion-input type="number"  readonly></ion-input>
          <ion-button size="small">+</ion-button>
          <ion-button color="danger" size="small" >X</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="/assets/icon/image.png" alt="Hamburguer">
      </ion-thumbnail>
      <ion-label>
        <h2>Texto do Hamburguer</h2>
        <p>R$ 30,00</p>
        <div class="quantity-control">
          <ion-button size="small" >-</ion-button>
          <ion-input type="number"  readonly></ion-input>
          <ion-button size="small">+</ion-button>
          <ion-button color="danger" size="small" >X</ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>



