<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="../assets/icon/logo.png" alt="Logo" class="icon">
    </ion-toolbar>
      <ion-toolbar >
          <ion-title class="titulo" size="large" mode="ios">END. DE ENTREGA:</ion-title>
      <br>
      <p class="center-text">Nome do Usuário</p>
      </ion-toolbar>


      <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="floating">CEP</ion-label>
              <ion-input aria-label="Nome"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="floating">N°:</ion-label>
              <ion-input aria-label="Numero"></ion-input>
            </ion-item>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating">Endereço:</ion-label>
                <ion-input aria-label="Endereco"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="floating">Complemento:</ion-label>
                <ion-input aria-label="Complemento"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
            <ion-item lines="none">
              <ion-label position="floating">Telefone</ion-label>
              <ion-input aria-label="Telefone" type="tel"></ion-input>
            </ion-item>
        </ion-toolbar>
      <br><br>
      <p class="center-text">Formas de Pagamento:</p>
      <ion-toolbar>
        <ion-row>
          <ion-col>
            <img src="../assets/icon/icons8-40.png" class="img" alt="Imagem 1">
          </ion-col>
          <ion-col>
            <img src="../assets/icon/dinheiro.png" class="img" alt="Imagem 2">
          </ion-col>
          <ion-col>
            <img src="../assets/icon/cartao-de-credito.png" class="img" alt="Imagem 3">
          </ion-col>
        </ion-row>
      </ion-toolbar>

      <br>
      <ion-toolbar>
        <ion-button class="botao">Salvar</ion-button>
        <br>
        <img src="../assets/icon/logo.png" alt="Logo" class="logo">
        <br>
        <p class="center-text">Você já tem conta? <a href="#">Entrar</a></p>
      </ion-toolbar>
      
    </ion-header>

  </ion-content>
