<ion-content>
  <div class="container">
    <div class="lado">
    <img src="/assets/icon/logo.png" alt="Logo" class="logo">

    <ion-button expand="block" color="warning" class="register-button" [href]="'/cadastro/'">Cadastra-se</ion-button>
  </div>
    <div class="content">
      <h2>Escolha seu hamburger <span class="highlight">favorito</span>.</h2>
      <img src="/assets/icon/burguer.png" alt="Hamburger" class="hamburger">
      <p>"Entrega rápida e funcionários simpáticos. O lanche chegou quente e muito saboroso!"</p>
      <div class="social-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </div>
    </div>

    <h3>Serviços</h3>
    <p>Conheça nossos serviços</p>

    <div class="services">
      <div class="service-item">
        <img src="/assets/icon/icone-pedido.svg" alt="Fácil de usar">
        <p>Fácil de usar</p>
      </div>
      <div class="service-item">
        <img src="assets/icon/icone-delivery.svg" alt="Entrega Rápida">
        <p>Entrega Rápida</p>
      </div>
      <div class="service-item">
        <img src="/assets/icon/icone-qualidade.svg" alt="Melhor Qualidade">
        <p>Melhor Qualidade</p>
      </div>
    </div>

    <ion-button expand="block" color="warning">CONSULTE NOSSO CARDÁPIO</ion-button>
  </div>
</ion-content>




